@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
} 
body {
	background-color:#EEE;	/*ページ全体の背景色*/
  color:#111;		/*文字色*/
}

#src_form, #status, #abl, #basedata{
  text-align: left;
}

.strings{
  width: 300px;
  background-color:#FFF;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}
table th, .num{
  width: 40px;
  background-color:#FFF;
  white-space: nowrap;
  text-align: right;
}
.nump{
  width: 45px;
  background-color:#FFF;
  white-space: nowrap;
  text-align: right;
}
.enum {
  width: 120px;
  background-color:#FFF;
  white-space: nowrap;
  text-align: center;
}
.dice {
  width: 70px;
  background-color:#FFF;
  white-space: nowrap;
  text-align: center;
}

span.form{
  display: inline-block;
  border-left: 2px solid #666;
  padding-left: 5px;
}

.pcname, .job {
  display: inline-block;
}

.cr_block{
  float: right;
  text-align: left;
  padding-right: 10px;
}

table#status tr{
  display: inline-block;
  text-align: left;
}

table#abl tr{
  display: inline-block;
  text-align: left;
}

colgroup.head{
  width: 40px;
}
colgroup.body{
  width: calc(100% - 50px);
}
table#equip tr{
  text-align: left;
}
table#equip td{
  display: inline-block;
  margin: 1px;
}
table#belongings tr{
  text-align: left;
}
tr#items td{
  display: inline-block;
  margin: 1px;
}

tr#items td#item_emp{
  display: inline-block;
  text-align: right;
}

table#skills {
  text-align: left;
}

table#skills tr{
  display: inline-block;
  text-align: left;
}

table#skills td.nump{
  text-align: center;
}

div.skillWrap {
  text-align: left;
  font-size: 76%;
  white-space: normal;
  border: solid 2px #222;
  background: #FFF;
  height: auto;
  min-height: 300px;
  width: 330px;
  background-repeat: no-repeat;
  background-position: center bottom;
  pointer-events: none;
  position: absolute;
  display: none;
  z-index: 2;
}

h3.skillTitle {
  color:#fff;
  background-color:#222;
  padding:5px;
}

ul.skillTags {
  color:#fff;
  background-color:#222;
  padding: 0 5px 5px 5px;
}

ul.skillTags li {
  display:inline-block;
}

ul.skillTags li.skillType {
  border:solid 1px #fff;
  letter-spacing: 0.8em;
  padding:0 0 0 0.8em;
}

ul.skillTags li.skillTag {
  border:solid 1px #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color:#fff;
  color:#000;
  margin:0 1px;
  padding:1px 3px 0 3px;
  font-size:11px;
}

div.skillTh {
  display:inline-block;
  margin:5px 0 0 5px;
  padding:0 3px;
  border:solid 1px #666;
  background-color:#666;
  color:#ffffff;
  min-width:40px;
  text-align:center;
}

div.skillTh2 {
  display:inline-block;
  margin:5px 0 0 5px;
  padding:0 3px;
  border:solid 1px #666;
  background-color:#666;
  color:#ffffff;
  min-width:70px;
  text-align:center;
}

div.skillTd {
  display:inline-block;
  margin:5px 0 0 0;
  border:solid 1px #666;
  padding:0 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  min-width:100px;
}

div.skillTd2 {
  display:inline-block;
  margin:5px 0 0 0;
  border:solid 1px #666;
  padding:0 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  min-width:70px;
}

hr.skillHr {
  border: none;
  border-top: dotted 1px #666;
  height: 1px;
  color: #FFFFFF;
  margin: 5px;
}

.skill_tr {
  position: relative;
}

p.skillFunction {
  margin:8px 5px;
}

span.itemRank {
  font-size:11px;
}

.item:hover div.skillWrap{
  display: block;
}

.skill_tr:hover div.skillWrap{
  display: block;
  right: 0px;
  top: -150px;
}
